tag()
  display inline-block
  color #bfbfbf
  padding 5px
  border 1px solid #bfbfbf
  border-radius 12px
  font-weight normal
  font-size 12px
  line-height 1.4
  &:not(:last-child)
    margin-right 10px

.profile-wrapper
  width 500px
  margin 0 auto
  padding-top 30px
  text-align center
  .avatar
    border-radius 50%
    display inline-block
    width 100px
    height 100px
  .user-name
    font-size 14px
    font-weight bold
  ul, li
    list-style none
  .links
    padding 0
    margin 40px auto 10px
    li
      display inline-block
      font-size 16px
      &:not(:last-child)
        margin-right 10px
      a
        background #bfbfbf
        border-radius 50%
        width 26px
        height 26px
        display inline-block
        text-align center
        line-height 26px
        text-decoration none
        cursor pointer
        i
          color #fff
  .title
    border-bottom 1px solid #eee
    margin 25px auto 15px
    padding-bottom 5px
    width 450px
    font-size 14px
    font-weight bold
  .interests
    margin 10px 0
    padding 0
    li
      tag()
  .skills
    text-align left
    padding-left 100px
    margin-bottom 10px
    .skill-title
      display inline-block
      width 80px
      font-size 14px
      font-weight bold
    .skill-list
      display inline-block
      padding 0
      li
        tag()

@media (max-width: 375px )
  .profile-wrapper
    width 100%
    .skills
      padding 0
      text-align center
    .title
      width 100%
@media (max-width: 414px )
  .profile-wrapper
    width 100%
    .title
      width 100%
    .skills
      padding 0
      text-align center
