.article-wrapper
  width 1000px
  margin 0 auto
  box-sizing border-box
  padding 30px 80px 80px
  margin-bottom 30px
  .article-header
    margin-bottom 30px
    .author
      margin-top 10px
      font-size 14px
      color #999
      line-height 24px
      font-weight normal
@media (max-width: 375px )
  .article-wrapper
    width 100%
    padding 20px
@media (max-width: 414px )
  .article-wrapper
    width 100%
    padding 20px