.blogs-wrapper
  width 1000px
  margin 0 auto
  padding 80px
  margin-bottom 30px
  .post-preview
    padding 20px 0
    border-bottom 1px solid #eee
    a
      color #404040
      text-decoration none
      &:hover
        color #0085a1
    .post-subtitle
      font-size 16px
      font-weight normal
    .post-meta
      font-family Lora,'Times New Roman',serif
      color gray
      font-size 18px
      font-style italic
      margin-top 0

