@import "normalize.css"
@import "./BootstrapStyles/font-awesome.min.css"
@import "~highlight.js/styles/tomorrow-night.css"


html, body
  width 100%
  height 100%
h1, h2, h3, h4, h5, h6, nav, footer, body
  font-family Lato,Helvetica Neue,Helvetica,Arial,sans-serif
h1, h2, h3, h4, h5, h6, nav, footer
  font-weight 700
  line-height 1.1

ul, li
  margin 0
  padding 0
  list-style none

#root
  min-height calc(100% - 163px)
  box-sizing content-box


.topnav
  width 100%
  height 50px
  box-sizing border-box
  line-height 50px
  font-size 14px
  overflow hidden
  padding 0 15px
  border-bottom 1px solid #e7e7e7
  background-color #f8f8f8
  a
    color #777
    text-decoration none
    margin-right 15px
    &.current, &:focus
      color #333
    &:hover
      color #5e5e5e
  .topnav-left
    float left
  .topnav-right
    float right
    li
      display inline-block
footer
  padding 30px 0
  background-color #f8f8f8
  .container
    text-align center
  .list-inline
    li
      display inline-block
      padding 0 5px
      font-size 14px
      font-weight bold
      a
        color #337ab7
        text-decoration none
  .copyright
    margin 15px 0 0
    color #777
    font-size 12px
