@import "normalize.css"
@import "./BootstrapStyles/bootstrap.css"
@import "./BootstrapStyles/landing-page.css"
@import "./BootstrapStyles/font-awesome.min.css"
@import "~highlight.js/styles/default.css"

#root
  margin-top 50px
