#blogs
  .content-section-a
    .container
      .lead
        font-style italic
        font-size 14px
        line-height 24px
        font-weight normal
        color #a3a3a3
        margin 10px auto
footer
  .container
    text-align center