.intro-header
  line-height 1.5
  padding-top 50px
  padding-bottom 50px
  text-align center
  color #f8f8f8
  background url('./intro-bg.jpg') no-repeat center center
  background-size cover
  .intro-message
    position relative
    padding 15% 0
    h1
      text-shadow 2px 2px 3px rgba(0,0,0,.6)
      font-size 5em
      margin 0
      font-size 70px
    h3
      text-shadow 2px 2px 3px rgba(0,0,0,.6)
      font-weight 700
      font-size 24px
    .intro-divider
      width 400px
      border-top 1px solid #f8f8f8
      border-bottom 1px solid rgba(0,0,0,.2)
      margin 20px auto

  .intro-social-buttons
    li
      display inline-block
      padding 0 5px
      .btn
        display inline-block
        padding 6px 12px
        margin-bottom 0
        font-size 14px
        font-weight 400
        line-height 1.42857143
        text-align center
        white-space nowrap
        vertical-align middle
        -ms-touch-action manipulation
        touch-action manipulation
        cursor pointer
        -webkit-user-select none
        -moz-user-select none
        -ms-user-select none
        user-select none
        background-image none
        border 1px solid transparent
        border-radius 4px
        font-family Lato,Helvetica Neue,Helvetica,Arial,sans-serif
      .btn-default
        color #333
        background-color #fff
        border-color #ccc
        text-decoration none
      .btn-lg
        padding 10px 16px
        font-size 18px
        line-height 1.3333333
        border-radius 6px

@media (max-width: 767px)
  .intro-header
    .intro-message
      h1
        font-size 3em
    .intro-social-buttons
      li
        display block
        margin-bottom 20px